body { background-color: white;
font-family: "Gill Sans", sans-serif;}

h1 {color: black; 
    text-align: center;
  font-size: 40px;


}

form { margin: 20px auto;
  width: 320px;
  color: black;
  
  
}

input {
  padding: 10px;
  font-size: inherit;
}

input[type="text"]{
  
  margin-bottom: 25px;
  width: 100%;
  border: 2px solid black;
    display: block; 
  
}

input[type="password"]{
  display: block; 
  margin-bottom: 25px;
  width: 100%;
  border: 2px solid black;
  
}

input[type="submit"]{
  width: 344px;
    height: 45px;
    border: none;
    background: black;
    color: white;
    display: block; 
  
}

